---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "sansation";
@import "icomoon";
@import "utils"; //our own utilities

/* Variables */
$footer-height: 60px; /* Does not adjust the position of #to-top */

/*
      Created by CSS Portal Layout Generator
      http://www.cssportal.com
*/


/* Base styles */
* { padding: 0; margin: 0; }

html {
    font-size: 100%;
    @media all and (max-width: 800px) {
    font-size: 90%;
    }
}

html, body {
    height: 100%; /* height + html & body here gets footer to bottom */
}

img, iframe { max-width: 100%; }

body {
    /* http://css-tricks.com/perfect-full-page-background-image/ */
    background: url({{ site.baseurl }}/images/antennas-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: "proxima-nova", "Segoe UI", Roboto, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    @include font-size(19);
    line-height: 1.6;
    @media all and (max-width: 800px) {
    //@include font-size(16);
    }
}

.wf-inactive body,
.wf-loading body {
    @include font-size(16);
}


/* footer to bottom, regardless of amount of content */
#wrapper { min-height: 100%; }


#content {
    overflow:auto;
    padding-bottom: $footer-height; /* must be same height as the footer and must be used unless you float #content */
}

#footer {
    position: relative;
    margin-top: -$footer-height; /* negative value of footer height */
    height: $footer-height;
}

/*Opera Fix*/
/* Compass reports invalid SCSS because of / in the margin-top property
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/
} */
/* footer to bottom, regardless of amount of content */


/* Back to top */

/* Remove the font-variant: italic of i element */
.icon-angle-up {
    font-style: normal;
}

#to-top {
    display: block;
    position: fixed;
    text-align: center;
    line-height: 12px !important;
    right: 17px;
    /* bottom: -30px; */
    bottom: 15px;
    color: #FFF;
    cursor: pointer;
    border-radius: 2px;
    z-index: 10000;
    height: 29px;
    width: 29px;
    //rgba() fallback for background-color works in IE 10's IE7 mode (document mode), however rgba() fallback for color does not seem to work in IE7 but works in IE8
    background-color: #79797c; //fallback for browsers that do not support rgba(), still need the fallback for the up arrow
    background-color: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-color 0.1s linear 0s;
    border-bottom: none; //remove the bottom border which is defined for links
}

#to-top i {
    line-height: 29px !important;
    width: 29px !important;
    height: 29px !important;
    font-size: 14px !important;
    top: 0px !important;
    left: 0px !important;
    text-align: center !important;
    background-color: transparent !important;
}

#to-top .fallback { display: none; }
.lt-ie8 #to-top .icon-arrow-up { display: none; }
.lt-ie8 #to-top .fallback { display: block; color: #fff; }

@media only screen and (min-width: 350px) and (max-width: 800px) {
    #to-top {
        /* display: none!important; */
        position: absolute;
    }
}

@media only screen and (max-width: 350px){
    #to-top {
        display: none !important;
    }
}

@media print {
    #to-top {
        display: none;
    }
}

/* iPad landscape fixes, see www.prostory.ca CSS */
/*
@media only screen and (min-device-width: 481px) and (max-device-width: 1025px) and (orientation:landscape) {
    #to-top {
        display: none!important;
    }
}
*/

p {
    margin: 10px 0 10px;
    //line-height: 1.5;
}


h1, h2 {
    font-family: "kulturista-web", "Times New Roman", serif;
    font-weight: 600;
    color: #444;
    line-height: 1.2;
    -webkit-transition: font 0.3s ease-in;
    -moz-transition: font 0.3s ease-in;
    -o-transition: font 0.3s ease-in;
    transition: font 0.3s ease-in;
}
h1 {
    @include font-size(35);
    margin: 25px 0 25px;
}

.wf-loading h1 {
  @include font-size(29);
}

h2 {
    @include font-size(31);
    text-transform: capitalize;
    margin: 38px 0 25px;
    color: #505a6b; /* rgba() fallback for color, does not seem to work in IE 10's IE7 mode (document mode) though, works in IE8 and for background-color in IE7 */
    color: rgba(38, 50, 72, 0.8);
}

.wf-loading h2 {
  @include font-size(22);
}


img table { border: 0px; }

/*
a:hover was not working for visited links when a:visited was declared after a:hover
there is a sequence between link css to take effect.. a:hover must come after a:link and a:visited and a:active must come after a:hover for more details refer below link..
http://www.w3schools.com/css/css_pseudo_classes.asp
*/

a {
    text-decoration: none;
    border-bottom: 1px #333 solid;
    color: rgba(13, 98, 226, 0.9);

    /* Let's make long links wrap */
    /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
    @include word-wrap();
}

a:visited {
    color: #333;
    color: #0dc3ff;
    color: rgb(13, 98, 126);
}

a:hover,
a:focus,
a:active {
    color: #000000;
}

a#contact,
a#contact:visited {
    color: #fff;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: none;
}

a#contact:hover,
a#contact:focus,
a#contact:active {
    color: #fff;
    border-bottom: 1px solid #fff;
}


/* remove link underline from image links http://forums.htmlhelp.com/index.php?showtopic=11518
(if the image has transparent pixels the underline/border-bottom will show through) */

a img { position: relative; bottom: -.4em }
/* reset for .overlap-figure which doens't require this */
.overlap-figure a img { bottom: 0em; }

a img { border: 0; } //Remove blue image outline on image links in IE (http://webdev-il.blogspot.fi/2009/12/how-to-remove-blue-link-image-border-in.html)

/* use the CSS class image-link for images with transparent pixels */
.image-link { text-decoration: none; border-bottom: none ; }



a.newqsl { font-weight: bold; }

#address { @extend %clearfix; }
#address img { float: left; margin: 15px; }
#address span { display: block; margin-top: 25px; }

@media only screen and (max-width: 450px) {
#address img { display: none; }
}

iframe {
    overflow: hidden;
    border: 0;
}


/* Containers */

#wrapper {
    margin: 0 auto;
    width: 100%;
 }

#content {
    color: #444;
    width: 100%;
}


/* daltonlp.com semi-transparent background */
.transp-bg {
    padding: 40px;
    margin: 0px auto auto;
    width: 75%;
    border: solid 1px #ccc;
    background-image:url({{ site.baseurl }}/images/75p_white_55p.png);
    @media all and (max-width: 800px) {
    width: 95%;
    padding: 15px;
    }
}

/* Fix for IE7 and below to keep the content from going under the footer */
.lt-ie8 .transp-bg { padding-bottom: 80px; }


.content-inner {
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
}

@media screen and (min-width: 1700px){
    .content-inner { width: 65%; }
}

/* Containers END */




#header {
    color: #333;
    width: 100%;
    height: 75px;

    background-color: #000;
    /* Fallback for <IE9 and other older browsers */
    // Note that we would need to create a modernizr fallback for browsers that do not support multiple backgrounds, if this would
    // be a different background image not included in the multiple background images declaration (otherwise browsers that support
    // multiple background images would download this extra image unneccessarily.)
    background: #000 url('{{ site.baseurl }}/images/footer-bg.jpg') center center repeat;

    /* Multi-background supporting browsers */
    // First background image is on top: http://css-tricks.com/stacking-order-of-multiple-backgrounds/
    background: url('{{ site.baseurl }}/images/Earth-07052014.png') right top no-repeat, url('{{ site.baseurl }}/images/footer-bg.jpg') center center repeat;

    //Narrow viewports
    @media all and (max-width: 800px) {
    background: #000 url('none');
    }
}


#footer {
    /* Sticky footer styles are defined at the top of this stylesheet */
    color: #fff;
    background: #252525 url('{{ site.baseurl }}/images/footer-bg.jpg') repeat center center;
    text-align: center;
    line-height: $footer-height; /* Footer height, centers one line of text vertically */
}

#social {
    width: 200px;
    position: absolute;
    left: 70%;
    list-style-type: none;
    @include font-size(18);
    li {
        display: inline-block;
    }
    a {
        display: inline-block; margin-left: 10px;
        text-decoration: none; border-bottom: none; color: #fff;
        &:hover, &:active, &:focus { .icon-twitter { color: #00aced; } }
        &:hover, &:active, &:focus { .icon-facebook { color: #3b5998; } }
        &:hover, &:active, &:focus { .icon-youtube { color: #bb0000; } }
        &:hover, &:active, &:focus { .icon-flickr { color: #0063dc; } }
    }
    @media only screen and (max-width: 800px) { display: none; }
}


/* Site navigation */
nav ul {
    list-style: none;
    margin-left: 0;
    padding-left: 15px;
}
    nav li,
        nav li > a {
            display:inline-block;
           *display:inline;
            zoom:1;
    }


.site-nav {
    width: 100%;
    height: 30px;
    background-color: #222;
}
        .site-nav a {
            padding: 5px 10px;
            color: #fff;
            @include font-size(15);
            border-bottom: none;
            text-decoration: none;
        }

.site-nav {
  a:hover, a:focus, a:active {
    background-color: #333;
  }
}

@media all and (max-width: 800px) {
  .site-nav ul { padding-left: 0; text-align: center; }
  .site-nav li, .site-nav a { display: block; }
}
/* Site navigation END */


input:focus,
textarea:focus {
    background-color: #fcfcfc;
}

/* images with simple captions */
.image { padding: 28px; }
.image .caption { margin: 8px; }

/* nice image border */
.img-wrapper img {
    background-color: #fff;
    border: 1px solid #a9a9a9;
    padding: 4px;
    margin: -5px 5px 5px -5px;
}

/*
http://hansmuller-webkit.blogspot.fi/2014/04/captioneering_16.html
caption overlapping figure http://codepen.io/adobe/pen/bhoGK
*/
.overlap-figure {
  /* Removed the display: table; to make the images responsive
  display: table;
  */

  /*
  http://hansmuller-webkit.blogspot.fi/2014/04/captioneering_16.html
  To get the caption text to wrap below the image, instead of extending off to the right, we’ve had to specify
  “display: table; width 1px” for the figure element. It’s an incantation that appears to be somewhat widely known
  but not widely understood (see this CSS-lab article for example).
  */

  /* Removed the width: 1px; to make the images responsive
  width: 1px;
  */

  /* display: table; and width: 1px; made the container fit to the image regardless of the image size and kept
  the caption text from expanding the container, but it was not
  responsive */

  /* Responsive */
  width: 800px; /* .overlap-figure images must be at least 800px wide to be centered in the container and to fill the div */
  max-width: 100%;

  border: 1px solid #ccc;
  padding: 3px;
  @include font-size(16);
  color: #fff;
  margin: 35px 0 0;
}

.overlap-figure .of-container { position: relative; }
.overlap-figure img { display: block; }

.overlap-figure
.caption {
  position: absolute;
  bottom: 0px;
  padding: 1em;
  background-color: rgba(38,50,72, 0.5);
}

/* Do not overlap the caption on small viewport widths */
@media screen and (max-width: 800px){
  .overlap-figure .caption { position: static; }
}

.overlap-figure a:link, .overlap-figure a:hover, .overlap-figure a:focus, .overlap-figure a:active, .overlap-figure a:visited {
    color: rgb(125, 198, 245);
    border-bottom: 1px solid rgb(125, 198, 245);
}







/* UL-list in main content area */
main ul {
  list-style-type: outside none disc;
  margin: 0 0 1em 1em;
}

/* UL-list links */
.links { list-style-type: none; }

/* Vaasa area table */
#vsa-area {
    width: 240px;
    margin: 10px auto 25px auto;
    padding: 10px ;
    border: 1px solid #999;
    text-align: left;
    border-radius: 15px;
}

/* News items on index page */
.news-item {
margin: 10px -40px 10px -40px;
padding: 3px 40px 3px 40px;
background: rgba(0, 0, 0, 0.06) none repeat scroll 0% 0%;
}

/* Banners on index page */
.banners { margin: 25px 0; }
@media all and (min-width: 1200px) {
.banners { display: flex; }
.fl-banner { margin-right: 25px; }
.qrz11search { margin-left: auto; }
}

.qrz11search table { border: 0px; background-color: #ececec; opacity: 0.90; }
.qrz11search label { @include font-size(16); }
.qrz11search input[type=submit] { @include font-size(14); }

/* .item-list, ul with no ul styling */
.item-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


/* Contact form styles */
#contact-form { margin: 65px 25px; }

#contact-form label {
    display: block;
    padding-bottom: 0.25em;
    font-weight: bold;
    font-style: normal;
    color: #4f4f4f;
}

#contact-form input[type="text"],
#contact-form textarea {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 1em;
    outline: none;
    padding: 0.5em;
    width: 65%;
    font-family: 'MS Shell Dlg', Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #484747;
}

#contact-form input[type="text"]:focus,
#contact-form textarea:focus {
    border: 1px solid #ccc;
    background-color: #fffffc;
}

.button {
    border: 2px solid rgba(0, 0, 0, 0.75);
    color: #444;
    background-color: transparent !important;
    box-shadow: none !important;
    opacity: 1 !important;
    transition: all 0.2s linear 0s !important;
    border-radius: 2px !important;
    border: 2px solid rgba(255, 255, 255, 0.75);
    font: 14px/100% Arial, Helvetica, sans-serif;
    @include font-size(13);
    font-weight: 600;
    padding: 15px 22px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: baseline;
    cursor: pointer;
}

.button:hover {
    border: 2px solid #333;
}
.button:active {
    position: relative;
    top: 1px;
}



/* Print styles */

@media print {
  /* * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  body { background: transparent !important; color: black !important; }
  a, a:visited { text-decoration: underline; }
  /* a[href]:after { content: " (" attr(href) ")"; } */
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }

    .content-inner {
          width: 100%;
          max-width: 100%;
    }

    #to-top {
        display: none;
    }
}
