<footer class="site-footer" id="footer" role="contentinfo">
  <ul id="social">
  <li><a href="http://twitter.com/56FL001" aria-label="56FL001 on Twitter"><span class="icon-twitter"></span></a>
  <li><a href="http://www.facebook.com/groups/130326428266/" aria-label="Foxtrot Lima DX Group in Facebook"><span class="icon-facebook"></span></a>
  <li><a href="http://www.youtube.com/user/56FL001" aria-label="56FL001 on Youtube"><span class="icon-youtube"></span></a>
  <li><a href="http://www.flickr.com/photos/124505319@N05/" aria-label="56FL001 on Flickr"><span class="icon-flickr"></span></a>
  </ul>
  &copy; <a href="{{ site.url }}/contact" id="contact"><span class="sr-only">Contact:</span> 56FL001 Timo</a> 2011&ndash;{{ 'now' | date: "%Y" }}
  <a href="#header" id="to-top" aria-label="Back to top of page">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="14" height="14" role="img">
    <title>Back to top</title>
    <image src="back-to-top-arrow-white.png" xlink:href=""></image>
    <path d="M445.901 362.215c6.938 6.861 18.151 6.861 25.063 0 6.938-6.861 6.938-17.945 0-24.807l-202.445-200.448c-6.912-6.861-18.125-6.861-25.037 0l-202.445 200.448c-6.912 6.861-6.938 17.945 0 24.807s18.125 6.861 25.063 0l189.901-182.81 189.901 182.81z"/>
    </svg>
  </a>
</footer>

<script>
  function nt() {
  var oHead = document.getElementsByTagName('HEAD').item(0);
  var oStyle= document.createElement("link");
  oStyle.rel = "stylesheet";
  oStyle.type = "text/css";
  oStyle.href="/nicetitle.css";
  oStyle.id = "ntcss";
  oHead.appendChild(oStyle);
  var oScript= document.createElement("script");
  oScript.type = "text/javascript";
  oScript.src ="/nicetitle.js";
  oScript.id = "ntjs";
  oHead.appendChild(oScript);
  }
  window.onload = nt();
</script>

<!-- Google Analytics -->
<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='https://www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-61138358-2','auto');ga('send','pageview');
</script>
