<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js wf-loading"> <!--<![endif]-->
{% include head.html %}
<body>

<div id="wrapper">

{% include header.html %}
<main id="content" role="main">

<div class="transp-bg">

<div class="content-inner">
{{ content }}
</div>
</div>
</main>

</div> <!-- #wrapper -->

{% include footer.html %}
</body>
</html>
